{% extends 'base.html.twig' %}

{% block title %}Użytkownicy!{% endblock %}

{% block body %}

    <div class="px-4 sm:px-6 lg:px-8">
        <div class="sm:flex sm:items-center">
            <div class="sm:flex-auto">
                <h1 class="text-xl font-semibold text-gray-900">Użytkownicy / {{ user.username }}</h1>
            </div>
            <div class="mt-4 sm:mt-0 sm:ml-16 sm:flex-none">
                <a href="{{ path('user') }}"
                   class="inline-flex items-center px-4 py-2 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                    &laquo; Lista użytkowników
                </a>
            </div>
        </div>
        <div class="mt-8 flex flex-col">
            <div class="-my-2 -mx-4 overflow-x-auto sm:-mx-6 lg:-mx-8">
                <div class="inline-block min-w-full py-2 align-middle md:px-6 lg:px-8">
                    <div class="overflow-hidden shadow ring-1 ring-black ring-opacity-5 md:rounded-lg">

                        <div>
                            <div class="sm:hidden">
                                <label for="tabs" class="sr-only">Select a tab</label>
                                <!-- Use an "onChange" listener to redirect the user to the selected tab URL. -->
                                <select id="tabs" name="tabs" class="block w-full focus:ring-indigo-500 focus:border-indigo-500 border-gray-300 rounded-md">
                                    <option selected>My Account</option>

                                    <option>Company</option>

                                    <option>Team Members</option>

                                    <option>Billing</option>
                                </select>
                            </div>
                            <div class="hidden sm:block">
                                <nav class="tabs relative z-0 rounded-lg shadow flex divide-x divide-gray-200" aria-label="Tabs">

                                    <a href="{{ path('user_edit_tab_general', {user: user.id}) }}"
                                       class="tab-ajax text-gray-900 rounded-l-lg group relative min-w-0 flex-1 overflow-hidden bg-white py-4 px-4 text-sm font-medium text-center hover:bg-gray-50 focus:z-10">
                                        <span>Podstawowe informacje</span>
                                        <span aria-hidden="true" class="bg-indigo-500 absolute inset-x-0 bottom-0 h-0.5"></span>
                                    </a>

                                    <a href="{{ path('user_edit_tab_devices', {user: user.id}) }}"
                                       class="tab-ajax text-gray-500 hover:text-gray-700 group relative min-w-0 flex-1 overflow-hidden bg-white py-4 px-4 text-sm font-medium text-center hover:bg-gray-50 focus:z-10">
                                        <span>Urządzenia</span>
                                        <span aria-hidden="true" class="bg-transparent absolute inset-x-0 bottom-0 h-0.5"></span>
                                    </a>

                                </nav>
                            </div>
                            <div id="tab-content" class="bg-white py-4 px-4">

                            </div>
                        </div>
                        <script>
                            const buttons = document.querySelectorAll('nav.tabs a.tab-ajax');

                            for (var i = 0; i < buttons.length; i++) {

                                buttons[i].addEventListener('click', function(event) {

                                    event.preventDefault();

                                    let request = new XMLHttpRequest();
                                    request.open('GET', this.href, true);
                                    request.onreadystatechange = function (aEvt) {
                                        if (request.readyState === 4) {
                                            if(request.status === 200)
                                            {
                                                document.getElementById('tab-content').innerHTML = request.responseText;
                                            }
                                            else
                                            {
                                                alert("Błąd podczas ładowania strony\n");
                                            }
                                        }
                                    };
                                    request.send();
                                });
                            }

                            document.querySelector('nav.tabs a.tab-ajax.text-gray-900').click();
                        </script>

                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
